node_modules
dist
dist-ssr
*.local
.env
.env.*
!.env.example
.firebase
firebase-debug.log
functions/node_modules
functions/.env
functions/.env.*
!functions/.env.example
.DS_Store
.vscode/*
!.vscode/extensions.json
.firebaserc
